<form [formGroup]="newDayForm" (ngSubmit)="createDay()">
  <mat-dialog-content>
    <h4 mat-dialog-title>New Day</h4>
    <mat-form-field>
      <input matInput formControlName="dayName" name="dayName" placeholder="Day Name">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button [hidden]="creatingDay" type="submit" class="mat-raised-button mat-primary">Create</button>
    <mat-spinner [diameter]="38" [hidden]="!creatingDay"></mat-spinner>
  </mat-dialog-actions>
</form>