<div *ngIf="exercises">
  <h3>Exercises</h3>
  <div class="row">
    <div class="col-lg-2" style="padding:20px 0 20px 0;">
      <mat-slider *ngIf="exercises.length > 1" style="height:100%;" [min]="1" [max]="sliderLength" [disabled]="sliderDisabled || !activeExercise"
        step="1" [(ngModel)]="sliderValue" vertical invert (change)="updateOrder($event);"></mat-slider>

    </div>
    <div class="col-lg-10">
      <div>
        <mat-list>
          <mat-list-item *ngFor="let exercise of exercises">
            <button [hidden]="renameId == exercise.exerciseId" mat-button color="{{getButtonColor(exercise)}}" (click)="onExerciseClicked(exercise)"
              (dblclick)="rename(exercise)">{{exercise.name}}</button>

            <mat-form-field class="example-full-width" [hidden]="renameId != exercise.exerciseId">
              <input [(ngModel)]="exercise.name" (blur)="updateExercise(exercise)" 
                matInput id="exerciseId_{{exercise.exerciseId}}" placeholder="Exercise Name">
            </mat-form-field>

          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button mat-raised-button (click)="openDialog()">New</button>
    </div>
  </div>
</div>