<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to GymApp</h1>
      <p class="lead">This app will enable you to track progress, map trends and meet your strength and fitness goals.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New to GymApp?</h5>
          <p class="card-text">Sign up and experience a different way to train.</p>
          <a routerLink="/register" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Already have an account?</h5>
          <p class="card-text">Sign in and start your workout.</p>
          <a routerLink="/signin"  class="btn btn-primary">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>