<div class="container">
  <div class="row" *ngIf="workouts">
    <div class="col-lg-3" *ngFor="let workout of workouts">
      <app-workout-card [workout]="workout"></app-workout-card>
    </div>
    <div class="col-lg-3">
      <mat-card style="width:100%;margin-top:15px;">
        <mat-card-header>
          <mat-card-title>
            Create New Workout
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-raised-button (click)="openDialog()">Create</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>